<template>
  <v-container fluid class="fill-height">
    <v-row align="center" justify="center" >
      <v-col cols="12" sm="8" md="4" lg="3">
        <v-card class="elevation-12 login-card">
          <v-card-title class="justify-center">
          	<v-img src="@/assets/logo_syntax.png"></v-img>
          </v-card-title>
          <v-card-text class="black--text">
            <v-form @submit.prevent="login">

            	<label>Usuario</label>
              <v-text-field
                v-model="username"
                label="global@syntax.com"
                outlined
                dense
                required
                color="primary"
                append-icon="mdi-account"
                single-line
              ></v-text-field>

            	<label>Passoword</label>
              <v-text-field
                v-model="password"
                label="*******"
                type="password"
                outlined
                dense
                required
                color="primary"
                append-icon="mdi-eye"
                single-line
              ></v-text-field>

              <v-btn
                type="submit"
                block
                color="primary"
                class="mt-4"
                large
                tile
              >
                Iniciar sesión
              </v-btn>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-center">
            <span class="caption">¿No tienes una cuenta? <a href="#">Registrarse</a></span>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: ''
    };
  },
  methods: {
    login() {
      // Lógica de inicio de sesión aquí
      console.log('Usuario:', this.username);
      console.log('Contraseña:', this.password);
    }
  }
};
</script>

<style scoped>

.login-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 24px;
}

.login-card .headline {
  color: #2c3e50;
}

.login-card .caption {
  color: #888;
}

.login-card a {
  color: #1565c0;
}

.login-card a:hover {
  text-decoration: none;
}

</style>
