<template>
  <v-app>
    <v-main>
      <v-container fluid>
        <v-row align="center" justify="center" class="fill-height">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12 login-card">
              <v-card-title class="justify-center">
                <h1 class="headline mb-0">Iniciar sesión</h1>
              </v-card-title>
              <v-card-text>
                <v-form @submit.prevent="login">
                  <v-text-field
                    v-model="username"
                    label="Usuario"
                    outlined
                    dense
                    rounded
                    required
                    color="primary"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    label="Contraseña"
                    type="password"
                    outlined
                    dense
                    rounded
                    required
                    color="primary"
                  ></v-text-field>
                  <v-btn
                    type="submit"
                    block
                    color="primary"
                    class="mt-4"
                    outlined
                    large
                  >
                    Iniciar sesión
                  </v-btn>
                </v-form>
              </v-card-text>
              <v-card-actions class="justify-center">
                <span class="caption">¿No tienes una cuenta? <a href="#">Registrarse</a></span>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: ''
    };
  },
  methods: {
    login() {
      // Lógica de inicio de sesión aquí
      console.log('Usuario:', this.username);
      console.log('Contraseña:', this.password);
    }
  }
};
</script>

<style scoped>
.fill-height {
  height: 100vh;
}

.login-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
}

.login-card .headline {
  color: #2c3e50;
}

.login-card .caption {
  color: #888;
}

.login-card a {
  color: #1565c0;
}

.login-card a:hover {
  text-decoration: none;
}

</style>
